*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Hind, sans-serif;
}
a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}
.container{
    max-width: 1000px;
    padding: 0 1.4rem;
    margin: 0 auto;
    display: grid;
}
nav,
#hero-container{
    max-width: 1000px;
    padding: 0 1.4rem;
    margin: 0 auto;
}
/*----------------------------- Global Styles*/
/*----------------------------- Button*/
.btn{
    font-size: 20px;
    font-weight: 600;
    padding: 12px 28px;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(345deg,#3a25f8,#8616ec);
    background-image: -o-linear-gradient(345deg,#3a25f8,#8616ec);
    background-image: linear-gradient(105deg,#3a25f8,#8616ec);
    -webkit-box-shadow: 0 12px 24px 0 rgb(0 0 0 / 18%);
    box-shadow: 0 12px 24px 0 rgb(0 0 0 / 18%);
    display: inline-block;
    margin-top: 15px;
}
.btn:hover{
    background-image: -webkit-linear-gradient(345deg,#8616ec,#3a25f8);
    background-image: -o-linear-gradient(345deg,#8616ec,#3a25f8);
    background-image: linear-gradient(105deg,#8616ec,#3a25f8);
}
/*----------------------------- Font Title & Description*/
.title {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 2px;
}
.description {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

/*----------------------------- HEADER*/
header{
    position: fixed;
    height: 64px;
    background: linear-gradient(to right,#330066,#9966cc);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    left: 0;
    right: 0;
    z-index: 4;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.home-link{
    font-size: 24px;
}
.navbar-link{
    margin-right: 10px;
}
.home-link:is(:focus, :hover) {
    color: #fff;
}

/*----------------------------- Column*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*----------------------------- HERO*/
.hero{
    /* border: 2px solid; */
    padding-top: 170px;
    padding-bottom: 90px;
    background: #663366 url("images/hero.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
.hero span {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.hero h2 {
    font-size: 52px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 3px;
    line-height: 90%;
}
#hero-container{
    display: flex;
    flex-direction: column;
}
/*----------------------------- TEAM*/
.team{
    margin-top: 90px;
}
.team img{
    width: 100%;
}
.team .box{
    background-image: -webkit-linear-gradient(335deg,#dd9fff,#9966ff);
    background-image: -o-linear-gradient(335deg,#dd9fff,#9966ff);
    background-image: linear-gradient(115deg,#dd9fff,#9966ff);
    padding: 40px 60px 60px 60px;
    text-align: center;
}
/*----------------------------- ABOUT*/
.about{
    /* border: 2px solid; */
}
.about .title {
    color: #333366;
}
.about .description {
    color: #9999cc;
}
.about .vision{
    /* border: 2px solid; */
    text-align: center;
    padding: 15px;
    background: #fff;
}
.about .vision:hover{
    background: #9966ff;
    -webkit-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
    cursor: pointer;
}
.about .vision:hover h3{
    color: #fff;
    font-weight: bold;
}
.about .vision:hover p{
    color: #fff;
}
.about .vision img{
    width: 70px;
    height: 43px;
}
.about .vision h3{
    font-size: 20px;
    color: #333366;
    margin: 6px 0;
}
.about .vision p{
    font-size: 16px;
    color: #9999cc;
}
/*----------------------------- TESTIMONY*/
.testimony{
    /* border: 2px solid; */
}
.testimony .title{
    color: #333366;
}
.box-testimony{
    border: 4px solid #9966ff;
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
    margin: 16px 0
    /* border: 2px solid; */
}
.img-testimony{
    padding: 10px;
    /* border: 2px solid; */
}
.img-testimony:hover{
    opacity: 0.7;
}
.box-testimony .description{
    color: #9999cc;
}
.box-testimony .employee{
    color: #333366;
    font-weight: 600;
}
.box-testimony .employee > span{
    color: #9999cc;
    font-weight: 300;
}
.img-testimony > img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
/*----------------------------- CAREER*/
.career{
    /* border: 2px solid; */
}
.career .title {
    text-align: center;
    color: #333366;
}
/*slider for career*/
/* Style the tab */
.tab {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    color: #333366;
    border-bottom: 3px solid #fff;
    transition: border 0.3s ease-in;
}
/* Change background color of buttons on hover */
.tab button:hover {
    border-bottom: 3px solid #9999cc;
    transition: border 0.3s ease-out;
}
/* Create an active/current tablink class */
.tab button.active {
    border-bottom: 3px solid #9999cc;
}
/* Style the tab content */
.tabcontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.tabcontent h3{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.tabcontent p{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.tabcontent .job{
    text-align: center;
    border-radius: 10px;
    padding-top: 80px;
    padding-bottom: 30px;
}
.tabcontent .engineering{
    background-image: -webkit-gradient(linear,right top,left top,from(#00d6ff),to(#06f));
    background-image: -webkit-linear-gradient(right,#00d6ff,#06f);
    background-image: -o-linear-gradient(right,#00d6ff,#06f);
    background-image: linear-gradient(270deg,#00d6ff,#06f);
}
.tabcontent .design{
    background-image: -webkit-gradient(linear,right top,left top,from(#f94),to(#fc6076));
    background-image: -webkit-linear-gradient(right,#f94,#fc6076);
    background-image: -o-linear-gradient(right,#f94,#fc6076);
    background-image: linear-gradient(270deg,#f94,#fc6076);
}
.tabcontent .product{
    background-image: -webkit-gradient(linear,left top,right top,from(#25319e),to(#81c0ff));
    background-image: -webkit-linear-gradient(left,#25319e,#81c0ff);
    background-image: -o-linear-gradient(left,#25319e,#81c0ff);
    background-image: linear-gradient(90deg,#25319e,#81c0ff);
}
/*----------------------------- FOOTER*/
footer{
    background: linear-gradient(to right,#330066,#9966cc);
}
footer .container{
    padding-top: 30px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu-bottom{
    display: flex;
    flex-direction: column;
}
.menu-bottom > p{
    color: #fff;
    font-weight: 600;
}